* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}
/* universal class container*/
.container {
  max-width: 1120px;
  margin: 0;
}

/* header */
header {
  background-color: rgb(2, 2, 77);
  width: 100%;
  position: fixed;
}

/* tex deco remove */
a {
  text-decoration: none;
  color: white;
}
/* ------styling of nav bar---- */
nav {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
/* nav bar logo */
#nav-logo {
  width: 40px;
  height: 40px;
  margin-left: 10px;
}

/* nav bar items */
.nav-items {
  display: flex;
  list-style: none;
}

.nav-items li {
  padding: 10px;
}

.nav-item li a {
  color: white;
}
.nav-items li a:hover {
  color: red;
}

.main-div {
  background-color: rgb(210, 225, 233);
  overflow: hidden;
}

/* flex div */
#portfolio-div {
  display: flex;
  justify-content: space-between;
  padding: 50px;
}
#name-h1 {
  padding-left: 5%;
  padding-right: 15%;
  padding-top: 80px;
  padding-bottom: 10px;
}
#about-me {
  padding-bottom: 40px;
}
#cv-form {
  padding-top: 70px;
}
#link-cv {
  background-color: #1f1199;
  color: white;
  padding: 15px 25px;
  text-decoration: none;
  border: none;
}

#cv-button {
  font-size: large;
  font-weight: lighter;
  color: rgb(33, 8, 94);
}
#download-image {
  width: 20px;
  height: 20px;
  padding-top: 5px;
  padding-right: 5px;
}
#boder {
  border-radius: 0%;
}
/* .stack-section-bgcolor {
  background-color: rgb(207, 207, 233);
  display: flex;
  padding-left: 30px;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 5px;
} */

/* ----Aside bar styling--- */
#aside-section {
  display: flex;
  margin-top: 2px;
  background-color: #e4e7f1;
}
#aside-div {
  width: 150%;
}
.aside-image-div {
  display: block;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-top: 70px;
  text-align: center;
}

.aside-image {
  border-radius: 60%;
  width: 200px;
  height: 200px;
  padding-top: 5px;
  align-items: center;
}

#aside-image-h2 {
  font-size: px;
  color: rgb(185, 174, 218);
}

#aside-image-h4 {
  font-size: 15px;
  color:
  margin-bottom: 2em;
  font-weight: lighter;
  text-transform: uppercase;
}

/* ---aside links styling------ */

#aside-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}
#aside-link li {
  margin-top: 30px;
}

#aside-link li a {
  margin-top: 60px;
  font-size: 20px;
  color: rgb(2, 2, 77);
}

#aside-link li a:hover {
  color: red;
}

.video-aside{
  width: 100%;
  height: 200px;
}

#social-list {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  list-style: none;
  margin-top: 120px;
}
.social-logo {
  width: 20px;
  height: 20px;
}
/* ----Main body styling--- */
.main-image {
  width: 100%;
}

.footer-main {
  background-color: #c8d6fa;
}

#contact-heading {
  background-color: rgb(211, 208, 208);
  padding: 50px;
  padding-left: 80px;
}
#contact-heading h4 {
  font-style: italic;
  font-weight: lighter;
  text-decoration: wavy;
}

#contact-section {
  background-color: rgb(211, 208, 208);
  display: flex;
  padding: 50px;
  justify-content: space-between;
}

#contact-me {
  padding-top: 30px;
  color: rgb(130, 190, 9);
  font-weight: bolder;
}
.contact-form {
  padding: 20px;
}

#form-div {
  padding-left: 40px;
}
#btn-contact {
  /* padding: 20px;
  color: #1f1199; */
  padding: 20px;
  border: none;
  background-color: #199319;
  box-sizing: border-box;
  color: #fff;
  /* font-weight: 600; */
  border-radius: 5px;
  /* width: 100%; */
}

.input-contact {
  padding: 20px;
  width: 300px;
  box-sizing: border-box;
  border: 0;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}
#input-contact {
  padding: 20px;
  padding-bottom: 100px;
  /* padding-right: 70px; */
  width: 300px;
  box-sizing: border-box;
  border: 0;
  /* box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06); */
}

.phone-loc {
  display: flex;
  padding: 20px;
}

#div-bg {
  background-color: #827eaa;
}

#email-conatact {
  width: 40px;
  height: 40px;
}
#email-address {
  color: rgb(20, 8, 8);
  padding: 15px 25px;
  text-decoration: none;
  border: none;
}
